[gcode_macro _global_var]
variable_pause_park:{'x': -2, 'y': -0.5, 'z': 10, 'e': 1}
variable_cancel_park:{'x': -2, 'y': 501, 'z': 10, 'e': 1}
variable_clean_temp: 180 #120
variable_z_maximum_lifting_distance: 350
variable_pause_resume_travel_speed: 150
variable_load_filament_extruder_temp: 210
variable_has_z_offset_calibrated: False
gcode:


[gcode_macro START_PRINT]
gcode:
    mainled_on
    M117 Print start
    PREPARE
	{%set EXTRUDER_TEMP = params.EXTRUDER|default(210)|float %}
    {%set BED_TEMP = params.BED|default(0)|float %}
    {%set CHAMBER = params.CHAMBER_TEMP|default(0)|float %}
    {%set material = params.MATERIAL %}
    {%set vendor = params.VENDOR %}
    {%set EX_FAN = params.EX_FAN %}    
    {%set clean_temp = printer['gcode_macro _global_var'].clean_temp|int %}
    {%set min_temp = 50 %}
    {%set max_temp = 100 %}
    {%set min_soak = 120 %} #180
    {%set max_soak = 180 %} #1200
    {% set initial_tool = params.INITIAL_TOOL|default("0")|int %}

   {% if BED_TEMP < 75 %}
        PID_PROFILE LOAD=bed_60 HEATER=heater_bed
        M117 Low temp. PID profile loaded
   {% elif BED_TEMP > 75 %}
        PID_PROFILE LOAD=bed_100 HEATER=heater_bed
        M117 High temp. PID profile loaded
   {% endif %}
    
    HIGHCURRENT
    M140 S{BED_TEMP}
    {% if CHAMBER>0 %}
        M141 S{CHAMBER}
    {% endif %}
    G4 P300
    M400
    G28 X
    G28 Y
    T{initial_tool}
    G28 Z
    G1 X250 Y250 Z15
    G1 Z150
    G1 X-7 Y60 F7200
    M117 Heating bed
    status_temp_bed
    M190 S{BED_TEMP}
    status_ready
  
    {% if BED_TEMP < min_temp %}
        {% set bed = min_temp %}
    {% elif BED_TEMP > max_temp %}
        {% set bed = max_temp %}
    {% else %}
        {% set bed = BED_TEMP %}
    {% endif %}
    {% set soak_time = min_soak
       + ((bed - min_temp)|float
       * (max_soak - min_soak)
       / (max_temp - min_temp)) %}

    {% set soak_time = soak_time|int %}

        {% for i in range(soak_time) %}
          {% set remaining = soak_time - i %}
           M117 Remaining heat soak time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
           G4 P1000
       {% endfor %}
    M400
    M117 QGL
    QUAD_GANTRY_LEVEL_BASE
    G90
    M117 Clean nozzle
    M104 S{clean_temp-10}
    CLEAN_NOZZLE
    G1 Z15
    M109 S{clean_temp-10}
    M117 Tap
    G1 X250 Y250
    G28 Z METHOD=contact
    M104 S{clean_temp-20}
    M117
    M117 Bed mesh
    BED_MESH_CALIBRATE METHOD=beacon PROFILE=default ADAPTIVE=0
    M400
	G90
    G1 Z15 F600
	G1 X0 Y60 F12000
    {% if CHAMBER>0 %}
        M117 Wait for chamber temp
        M191 S{CHAMBER}
        SET_FAN_SPEED FAN=chamber_fan SPEED=0.9
    {% endif %}
    M117 Heating nozzle to print temp
    SET_FAN_SPEED FAN=exhaust SPEED={EX_FAN}
    status_temp
    M109 S{EXTRUDER_TEMP}
    status_ready
    M400
    M117 Printing with {vendor} {material}
  	M118 ... Printing ...
    SKEW_PROFILE LOAD=calilantern_skew_profile
    BED_MESH_PROFILE LOAD="default"
    mainled_50
    status_printing
	M400

[gcode_macro END_PRINT]
description: 
variable_state: 'normal'
gcode:
    M117 Print end
    STATUS_BUSY
    M73 P100 R0
    M140 S0
    M141 S0
    SET_FAN_SPEED FAN=exhaust SPEED=1.0
    {% set z_max = printer['gcode_macro _global_var'].z_maximum_lifting_distance|int %}
    {% set e_mintemp  = printer.configfile.settings['extruder'].min_extrude_temp %}
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        G92 E0
        G1 E-4 F2700
        G92 E0
        G1 E-4 Z1.0 F2400
        G92 E0
        PARK_TOOL
        {% if (printer.gcode_move.position.z + 300) < z_max %}
            G1 Z+300 F3000
        {% else %}
            G1 Z+{(z_max - printer.gcode_move.position.z)} F3000
        {% endif %}
        G92 E0
        G1 E-4 F2700
        G92 E0
        G90
        G1 X3 Y487 F9000
    {% endif %}
    M104 S0
    M106 S100
    SET_FAN_SPEED FAN=exhaust SPEED=0.8
    SET_FAN_SPEED FAN=chamber_fan SPEED=0.8
    M400
      {% for i in range(120) %}
           {% set remaining = 120 - i %}
            M117 Remaining main cool down time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
            G4 P1000
      {% endfor %}
      M400
    SET_FAN_SPEED FAN=exhaust SPEED=0.4
    SET_FAN_SPEED FAN=chamber_fan SPEED=0.4
      {% for i in range(300) %}
           {% set remaining = 300 - i %}
            M117 Remaining cool down time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
            G4 P1000
      {% endfor %}
    _ALL_FAN_OFF
    TURN_OFF_HEATERS
    LOWCURRENT
    M84
    mainled_off
    SET_SKEW CLEAR=1
    PREPARE
    M117 Rendering video
    TIMELAPSE_RENDER
    M117 Print finished!
    STATUS_READY

[gcode_macro CLEAN_NOZZLE] 
gcode:
    {% set clean_temp = printer['gcode_macro _global_var'].clean_temp|int %}
    {% if printer.toolhead.homed_axes != "xyz" %}
       M117 Homing
       G28
    {% endif %}
    G1 X-7 Y100 F9000
    M109 S{clean_temp}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=2.2
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=2.2
    G1 X30 Y195 F9000
    G1 Z5
    G1 X-10 Y226 F9000
    M106 S200
    # long moves
    G1 Z0.5
    #G1 Z1
	G1 X-10 Y226 F2400
	G1 X-10 Y203
	G1 X-8 Y203
	G1 X-8 Y226
	G1 X-6 Y226
	G1 X-6 Y203
	G1 Z3
    # cross moves
	G1 X-10 Y226
    G1 Z0.5
    #G1 Z1
	G1 X-5 Y203
	G1 X-10 Y226
	G1 X-5 Y203
    G1 X-10 Y203
    G1 X-5 Y226
    G1 X-10 Y203
    G1 X-5 Y226
	G1 Z3
    # zig-zag moves
	G1 X-1 Y206
    G1 Z0.5
    #G1 Z1
	G1 X-10 Y206
	G1 X-10 Y210
	G1 X-1 Y210
	G1 X-1 Y214
	G1 X-10 Y214
    G1 X-10 Y218
	G1 X-1 Y218
    G1 X-1 Y222
	G1 X-10 Y222
    # scrub on plate
	G1 Z3
    G1 X-9 Y255 F9000
    G1 Z-1.4
    #G1 Z-1.9
    G1 Y278 F2400
    G1 Y255
    G1 Y278
    G1 Z-2.0
    G1 Y278 F2400
    G1 Y255
    G1 Y278
    M106 S0
    G1 Z10 F9000
    M104 S0
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=2.8
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=2.8

[gcode_macro PREPARE]
gcode:
    SET_VELOCITY_LIMIT ACCEL=10000 VELOCITY=500 SQUARE_CORNER_VELOCITY=6 MINIMUM_CRUISE_RATIO=0.35
    BED_MESH_CLEAR
    CLEAR_PAUSE
    M400
    M220 S100
    M221 S100
    M400
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
  G28
  status_leveling
  QUAD_GANTRY_LEVEL_BASE
  M400
  status_busy
  M190 S0
  G90
  G0 Z25
  G0 X165 Y220 F6000
  M118 Quad gantry level finished
  status_ready

[gcode_macro mainled_on]
gcode:
    SET_LED LED=main_led WHITE=1.0 TRANSMIT=1

[gcode_macro mainled_75]
gcode:
    SET_LED LED=main_led WHITE=0.75 TRANSMIT=1

[gcode_macro mainled_50]
gcode:
    SET_LED LED=main_led WHITE=0.50 TRANSMIT=1

[gcode_macro mainled_off]
gcode:
    SET_LED LED=main_led WHITE=0.0 TRANSMIT=1
    
[gcode_macro _IDLE_TIMEOUT]
gcode:
    {% if printer.print_stats.state == "paused" %}
      RESPOND TYPE=echo MSG="Timeout"
    {% else %}
     M84
     TURN_OFF_HEATERS
    {% endif %}

[gcode_macro _ALL_FAN_OFF]
gcode:
    M106 S0
    M107
    SET_FAN_SPEED FAN=exhaust SPEED=0.0
    M141 S0

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    HIGHCURRENT
    BED_MESH_CLEAR
    _QUAD_GANTRY_LEVEL
    RESTORE_GCODE_STATE NAME=STATE_QGL

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
gcode:
    {% set origin_square_corner_velocity_val = printer.toolhead.square_corner_velocity|float %}
    {% set temporarily_square_corner_velocity_val = 1.0 %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={temporarily_square_corner_velocity_val}
    BED_MESH_CALIBRATE
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={origin_square_corner_velocity_val}

[gcode_macro M109]
rename_existing: M99109
gcode:    
    {% set s = params.S|float %}    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-1} MAXIMUM={s+5}
    {% endif %}
    
[gcode_macro M190]
rename_existing: M99190
gcode:    
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+5}
    {% endif %}

[gcode_macro Z_to_max]
gcode:
  G1 Z390 F1800
  G1 Z410 F1200
  G1 Z420 F400

[gcode_macro LOWCURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.8
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.8
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.8
    G4 P1500

[gcode_macro HIGHCURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=2.8
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=2.8
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=1.2
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=1.2
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=1.2
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=1.2
    G4 P1500
    
[delayed_gcode _LOWCURRENT_WAIT]
initial_duration: 3.0
gcode:
    LOWCURRENT

# uncomment bed screws in printer.cfg #
#[gcode_macro SCREWS_TILT_CALCULATE]
#rename_existing: SCREWS_TILT_CALCULATE_1
#gcode:
#	SCREWS_TILT_CALCULATE_1
#    G1 Y400 Z350
    

